@font-face {
  font-family: "Cuprum";
  src:
      local("Cuprum"),
      url("../fonts/cuprum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src:
      local("Cuprum Bold"),
      url("../fonts/cuprumbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src:
      local("Cuprum Italic"),
      url("../fonts/cuprumitalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src:
      local("Cuprum Bold Italic"),
      url("../fonts/cuprumbolditalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src:
      local("PT Sans"),
      url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
      local("PT Sans Bold"),
      url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  color: white;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

.main-page .page-header {
  background-color: #f3f7f9;
}

.catalog-page .page-header,
.filter h1,
.catalog-additional-info {
  background-color: #f2f6f8;
}

.logo {
  background-color: #ee3643;
  width: 220px;

  font-size: 24px;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.logo:hover,
.logo:focus,
.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.logo:active,
.btn:active {
  background-color: #ba2732;
}

.customer {
  background-color: #293449;
}

.customer-search {
  background-color: inherit;

  font: inherit;
  color: inherit;
}

.customer-search:hover,
.customer-cart:focus,
.customer-cart:hover,
.customer-bookmarks:focus,
.customer-bookmarks:hover {
  background-color: #212a3a;
}

.customer-cart:active,
.customer-bookmarks:active {
  background-color: #161d29;
}

.customer-cart-filled {
  background-color: #ee3643;
}

.customer-search:focus {
  background-color: white;

  color:black;
}

.customer-order,
.goods-item .buy-btn {
  background-color: #63a63e;
}

.customer-order:focus,
.customer-order:hover,
.goods-item .buy-btn:hover,
.goods-item .buy-btn:focus {
  background-color: #5fbb2d;
}

.customer-order:active,
.goods-item .buy-btn:active {
  background-color: #518534;

  color: rgba(255, 255, 255, 0.51);
}

.info-general {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.info-tel {
  font-size: 21px;
  color: #ee3643;
}

.info-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.authorization-enter,
.authorization-registration,
.user-main {
  background-color: white;

  color: black;
  font-size:21px;
}

.authorization-enter:hover,
.authorization-registration:hover,
.authorization-enter:focus,
.authorization-registration:focus,
.user-actions-personal:hover,
.user-actions-personal:focus  {
  color: #ee3643
}

.authorization-enter:active,
.authorization-registration:active,
.user-actions-profile:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-actions-profile {
  color: inherit;
}

.user-actions-personal {
  color: #32425c;
  font-size:16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-actions-personal:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-menu {
  background-color: #32425c;
  width: 940px;
  margin: 0 auto;
}

.main-menu-links,
.breadcrumbs,
.sorting,
.pages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu-links li {
  flex-grow: 1;
}

.main-menu-links .menu-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 19px;
  text-align: center;
}

.main-menu-links a:hover,
.main-menu-links a:focus {
  background-color: #293449;
}

.main-menu-links a:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.services p,
.about-us p,
.contacts p,
.breadcrumbs a,
.filter p,
.grid-products > p,
.sorting a,
.pages a,
.catalog-additional-info p {
  margin: 0;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
}

.pages li {
  display: inline-block;
}

.pages a {
  display: inline-block;
  width:38px;
  height:38px;
  line-height: 38px;

  vertical-align: middle;
  text-align:center;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pages a:hover,
.pages a:focus {
  border-color: #bdc6ca;
}

.pages a:active {
  border-color: #ee3643;
}

.breadcrumbs a,
.grid-products > p,
.sorting a {
  text-transform: uppercase;
}

.grid-products > p,
.sorting,
.filter p,
.filter-price .range-slider,
.filter-price .price-range {
  background-color: #f7f3ec;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}

.sorting a:hover,
.sorting a:focus {
  color: black;
  text-decoration-style: solid;
}

.sorting a:active {
  color: #ee3643;
}

.filter legend,
.filter-price .price-range {
  line-height: 30px;
  font-weight: bold;
  color: black;
}

.filter-price .price-range {
  font-weight: normal;
}

.filter-manufacturers label,
.filter-power-supply label {
  font-size: 15px;
  line-height: 20px;
  color: black;
}

.filter-power-supply label {
  font-size: 14px;
}

.filter-radio:disabled + label {
  opacity: 0.4;
}

.promo strong {
  font-weight: bold;
  font-size: 24px;
}

.btn {
  display: block;
  min-height: 38px;
  line-height: 38px;
  border-radius: 3px;

  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}

.btn-promo {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-promo:hover,
.btn-promo:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
}

.tools {
  background-color: #3bbce3;
}

.vehicles {
  background-color: #dc91d8;
}

.discount {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.slider h2 {
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider p {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.slider-item a {
  background-color: #ee3643;

  font-size: 14px;
}

.popular header {
  background-color: #f9f5f0;
}

.popular h2,
.filter h1,
.catalog-additional-info h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog-additional-info h2 {
  color: black;
}

.catalog-additional-info p {
  line-height: 24px;
}

.manufacturers-item:active {
  opacity: 0.3;
}

.goods-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.goods-item h3 {
  font-size: 18px;
  line-height: 20px;
  color: black;
}

.goods-item s {
  color: #a9a9a9;
  line-height: 18px;
}

.goods-item .price {
  background-color: #ee3643;

  color: white;
}

.goods-item .buy-btn,
.goods-item .bookmark-btn {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.goods-item .bookmark-btn {
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.goods-item .bookmark-btn:hover,
.goods-item .bookmark-btn:focus {
  border-color: #32425c;
}

.goods-item .bookmark-btn:active {
  border-color: rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}

.services {
  background-color: #f4f8f9;
  min-height: 522px;
  padding-top: 65px;
}

.services h2,
.about-us h2,
.contacts h2,
.services-info h3 {
  margin:0;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: normal;
}

.services-controls label {
  height: 61px;
  padding-left: 23px;
  line-height: 61px;

  font-size: 21px;
  font-weight: bold;

  border-bottom: 1px solid #f4f8f9;
}

.services-controls label:last-of-type {
  height: 60px;
  line-height: 60px;
  border-bottom: none;
}

.services-radio + label {
  background-color: #32425c;
  color: white;
}

.services-radio:hover + label,
.services-radio:focus + label {
  background-color: #293449;
}

.services-radio:checked + label {
  background-color: white;
  color: #32425c;
}

.services-info h3 {
  font-size: 36px;
  color: #32425c;
  margin-bottom: 27px;
}

.btn.credit {
  width: 195px;

  background-color: #ff5357;
}

.services-info {
  background-repeat: no-repeat;
  background-position: top right;
}

.services-info:nth-of-type(1) {
  background-image: url("../img/slider3.jpg");
  background-size: 468px;
}

.services-info:nth-of-type(2) {
  background-image: url("../img/slider4.png");
  background-size: 389px;
}

.services-info:nth-of-type(3) {
  background-image: url("../img/slider5.jpg");
  background-size: 465px;
}

.services-info:nth-of-type(3) p {
  margin-bottom: 27px;
}

.about-us-partners {
  list-style: none;
  margin: 0 0 37px 0;
  padding: 0;
}

.about-us-partners li {
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
}

.about-us-partners li:last-of-type {
  margin-bottom: 0;
}

.about-us-partners span {
  color: #ee3643;
}

.feedback label {
  font-size: 18px;
  color: black;
}

.feedback input,
.feedback textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.button-area {
  background-color: #f1f1f1;
}

.button-area button {
  background-color: #ee3643;

  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.modal-cart button,
.modal-cart button:hover,
.modal-cart button:focus,
.modal-cart button:active {
  background-color: white;
  color: black;
}

.modal-cart p {
  font-size: 30px;
  color: black;
}

.page-footer {
  background-color: #32425c;
}

.page-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer .logo {
  font-size: 30px;
  line-height: 30px;
}

.footer-main {
  font-size: 18px;
}

.footer-additional-menu a,
.footer-text a{
  color: #ffd180;
}

.footer-additional-menu a:hover,
.footer-additional-menu a:focus,
.footer-text a:hover,
.footer-text a:focus,
.footer-main-menu a:hover,
.footer-main-menu a:focus {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.footer-additional-menu a:active,
.footer-main-menu a:active {
  opacity: 0.5;
}

.footer-text a:active {
  color: #ee3643;
}

.footer-additional {
  background-color: #293449;

  font-size: 16px;
}


/* Flexbox layout goes here */




.main-page {
  display: flex;
  flex-direction: column;
}

.page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 320px;
  margin-bottom: 59px;
}

.page-header .inner-wrapper {
  background-color: #293449;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.inner-wrapper .container {
  display: flex;
}

.info .container {
  display: flex;
  min-height: 111px;
  padding: 47px 10px 47px 65px;
  align-items: flex-start;
}

.main-content {
  width: 100%;
}

.page-header .logo {
  margin-right: 10px;
}

.customer {
  display: flex;
  width: 710px;
}

.customer form {
  width: 230px;
  margin-right: 10px;
}

.customer .customer-search {
  width: 100%;
  box-sizing: border-box;
  padding: 0;

  border: none;
  min-height: 42px;

}

.customer .customer-search::-moz-placeholder {
  color: white;
}

.customer .customer-search:-ms-input-placeholder {
  color: white;
}

.customer .customer-search::-webkit-input-placeholder {
  color: white;
}

.customer a {
  width: 150px;
  margin-right: 10px;

  line-height: 42px;
  text-align: center;
}

.customer a:last-of-type {
  margin-right: 0;
}

.info {
  display: flex;

}

.info p {
  margin: 0;
}

.info .info-general:first-of-type {
  width: 255px;
  margin-right: 10px;
  padding-bottom: 5px;
}

.info .info-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
  width: 320px;
}

.info-tel {
  box-sizing: border-box;
  width: 270px;
  min-height: 45px;

  line-height: 39px;
  border: 3px solid white;

  text-align: center;
}

.authorization {
  display: flex;
}

.authorization-enter,
.authorization-registration {
  text-align: center;
  min-height: 45px;
  line-height: 45px;
}

.authorization-enter {
  width: 120px;
  margin-right: 10px;
}

.authorization-registration {
  width: 150px;
}

.main-menu-links {
  display: flex;
  flex-direction: row;

  box-shadow: inset 0 -5px #293449;
}

.promo {
  height: 409px;
  margin-bottom: 50px;
   /* временно */
}

.promo .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.promo-slider {
  height: 266px;
}

.promo-item {
  position: relative;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding: 22px 31px 22px 24px;
  box-sizing: border-box;
}

.promo-item::after {
  content: "";
  position: absolute;
  top:0;
  right:0;
  width: 140px;
  height: 123px;

  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.materials::after {
  background-image: url("../img/icon-1.svg");
}

.tools::after {
  background-image: url("../img/icon-2.svg");
}

.vehicles::after {
  background-image: url("../img/icon-3.svg");
}

.discount::after {
  background-image: url("../img/icon-4.svg");
}

.delivery::after {
  background-image: url("../img/icon-5.svg");
}

.promo-item:last-of-type {
  margin: -123px 0 0 auto;
}

.promo-item .btn-promo {
  display: block;
  width: 135px;

  text-align: center;
}

.promo-item strong {
  display: block;
  margin-bottom: 15px;
}

.slider {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 53px;
}

.popular header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 89px;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 25px;
  margin-bottom: 20px;
}

.popular h2,
.popular h3,
.popular p {
  margin: 0;
}

.popular h2 {
  margin-top: 5px;
}

.popular .btn {
  width: 253px;
}

.popular ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.goods {
  margin-bottom: 21px;
}

.goods .goods-item {
  width: 220px;
  min-height: 318px;
  padding-bottom: 21px;

  border: 1px solid #eaeaea;
  text-align: center;
}

.goods-item:hover,
.goods-item:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.goods-item h3 {
  width: 170px;
  margin: 0 auto 10px auto;
}

.goods-item p {
  position: relative;
  margin: 0 auto;
  width: 141px;
  min-height: 38px;
  line-height: 38px;

  border-radius: 3px;
}

.goods-item p::after {
  position: absolute;
  content: "";
  top: 0;
  right: -19px;
  border: 19px solid white;
  border-left-color: transparent;
}

.goods-item img {
  margin-bottom: 13px;
}

.goods-item .buy-btn,
.goods-item .bookmark-btn {
  display: block;
  width: 135px;
  min-height: 38px;
  line-height: 38px;
  margin: 0 auto;

  font-size: 14px;
  border-radius: 3px;
}

.goods-item .buy-btn {
  box-shadow: inset 0 -3px #367315;
}

.goods-item .bookmark-btn {
  min-height: 32px;
  line-height: 32px;
}

.manufacturers {
  margin-bottom: 85px;
}

.manufacturers-list a {
  display: block;
  position: relative;
  width: 220px;
  height: 145px;

  border: 1px solid #eaeaea;
}

.manufacturers-list a:hover,
.manufacturers-list a:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers-list li:nth-of-type(-n+4) {
  margin-bottom: 20px;
}

.manufacturers-list img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .inner-wrapper {
  display: flex;
  min-height: 275px;
}

.services-controls {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 80px;
}

.services h2 {
  margin-bottom: 30px;
}

.services .services-heading {
  width: 400px;
  margin-bottom: 70px;
  line-height: 24px;
}

.services-info {
  flex-grow: 1;
}

.services-info p {
  line-height: 24px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  width: 960px;
  min-height: 536px;
  padding: 74px 10px 0 10px;
  margin: 0 auto;
}

.about-us h2 {
  margin-bottom: 25px;
}

.about-us p {
  line-height: 24px;
}

.additional-info {
  width: 620px;
}

.additional-info p:not(:last-of-type) {
  margin-bottom: 26px;
}

.additional-info p:last-of-type {
  margin-bottom: 20px;
}

.additional-info .btn {
  width: 220px;
}

.contacts {
  width: 300px;
}

.contacts p {
  margin-bottom: 31px;
  width: 150px;
}

.contacts .btn {
  width: 300px;
}

.contacts-map {
  height: 158px;
  margin-bottom: 40px;
}

.page-footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.page-footer p {
  margin: 0;
}

.page-footer .logo {
  width: 220px;
  height: 68px;
  line-height:68px;
}

.footer-main .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-main .container:first-of-type {
  min-height: 68px;
  margin-bottom: 27px;
}

.footer-main {
  min-height: 193px;
}

.footer-main-menu {
  width: 550px;
}

.footer-additional-menu {
  width: 525px;
}

.footer-contact-info {
  width: 330px;
  line-height:24px;
}

.footer-additional {
  min-height: 107px;
}

.footer-additional .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 107px;
}

.footer-social {
  display: flex;
  width: 133px;
  min-height: 41px;
}

.footer-social .social-btn {
  display: block;
  position: relative;
  width: 41px;
  height: 41px;

  border-radius: 50%;
  background-color: #212a3a;
}

.social-btn::after {
  content: "";
  width: 41px;
  height: 41px;
  position: absolute;

  background-position: 50% 50%;
  background-repeat: no-repeat;
}

li:nth-of-type(1) .social-btn::after {
  background-image: url("../img/icon-vk.svg");
}

li:nth-of-type(2) .social-btn::after {
  background-image: url("../img/icon-fb.svg");
}

li:nth-of-type(3) .social-btn::after {
  background-image: url("../img/icon-insta.svg");
}


